*.Rhistory
code/Compare_with_entrapment_lib/entrapment_lib.tsv
code/Compare_with_entrapment_lib/cor_pg.RData
code/Compare_with_entrapment_lib/old/TPHP_entrap_precursor_Linear_correlation.pdf
code/Compare_with_entrapment_lib/TPHP_entrap_proteinGroup_Linear_correlation.pdf
code/Compare_with_entrapment_lib/TPHP_entrap_proteinGroup_Linear_correlation.pdf
code/Compare_libfree_libbased/pg.tsv
code/Compare_libfree_libbased/TPHP_search_method_compare_box_linear_correlation_pgfit.pdf
code/Compare_libfree_libbased/TPHP_search_method_compare_box_linear_correlation_pgfit_afterLog2.pdf
code/Compare_libfree_libbased/TPHP_search_method_compare_box_linear_correlation_prfit.pdf
code/Compare_libfree_libbased/TPHP_search_method_compare_box_linear_correlation_prfit_afterLog2.pdf
code/Compare_libfree_libbased/TPHP_search_method_compare_qvalue.pdf
