*.Rhistory
code/Compare_with_entrapment_lib/entrapment_lib.tsv
code/Compare_with_entrapment_lib/cor_pg.RData
code/Compare_with_entrapment_lib/old/TPHP_entrap_precursor_Linear_correlation.pdf
code/Compare_with_entrapment_lib/TPHP_entrap_proteinGroup_Linear_correlation.pdf
code/Compare_with_entrapment_lib/TPHP_entrap_proteinGroup_Linear_correlation.pdf
code/Compare_libfree_libbased/pg.tsv
code/Compare_libfree_libbased/TPHP_search_method_compare_box_linear_correlation_pgfit.pdf
code/Compare_libfree_libbased/TPHP_search_method_compare_box_linear_correlation_pgfit_afterLog2.pdf
code/Compare_libfree_libbased/TPHP_search_method_compare_box_linear_correlation_prfit.pdf
code/Compare_libfree_libbased/TPHP_search_method_compare_box_linear_correlation_prfit_afterLog2.pdf
code/Compare_libfree_libbased/TPHP_search_method_compare_qvalue.pdf
code/BECA/_old0726/*
code/BECA/_old0724/*
code/BECA/BECA_diag_dr.pdf
code/BECA/BECA_diag_hc_colmedian.pdf
code/BECA/BECA_diag_hc_colmedian_page1.png
code/BECA/BECA_diag_hc_minimum.pdf
code/BECA/BECA_diag_hc_minimum_page1.png
code/BECA/BECA_diag_hc_original.pdf
code/BECA/BECA_diag_hc_original_page1.png
code/BECA/BECA_diag_hc_rowmedian.pdf
code/BECA/BECA_diag_hc_rowmedian_page1.png
code/BECA/BECA_diag_hc_zero.pdf
code/BECA/BECA_diag_hc_zero_page1.png
code/BECA/data_standardized_20211027.csv
code/BECA/dia_pool_quality_check.pdf
code/BECA/dia_quality_check.pdf
code/BECA/dia_quality_check_low.pdf
code/BECA/dia_quality_pearson_check.pdf
code/BECA/dia_quality_pearson_check_compare_normalize.pdf
code/BECA/dia_quality_pearson_check_compare_normalize.png
code/BECA/dia_quality_pearson_check_log2.pdf
code/BECA/dia_quality_pearson_check_q_log2.pdf
code/BECA/metadata_allChip_20211027.csv
code/BECA/pm_list.RData
code/BECA/preprocess.RData
code/BECA/replicates_quality_check.pdf
code/BECA/replicates_quality_check.png
code/BECA/res_dr_ls.RData
code/BECA/res_hc_ls.RData
